@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.about-hero-white-icon {
  width: 1529px;
  position: relative;
  height: 860px;
  object-fit: cover;
  z-index: 0;
}
.heading3,
.paragraph8 {
  position: relative;
  display: inline-block;
  min-width: 300px;
}
.heading3 {
  align-self: stretch;
  height: 35px;
  line-height: 35px;
  text-transform: uppercase;
}
.paragraph8 {
  width: 100%;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-athiti);
  max-width: 800px;
}
.heading-parent1 {
  width: 100%;
  gap: 35px 0;
  min-width: 300px;
  max-width: 900px;
}
.abouthero-inner,
.frame-wrapper1,
.heading-parent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper1 {
  align-self: stretch;
}
.abouthero-inner {
  width: calc(100% - 368px);
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 64.5px);
  right: 184px;
  left: 184px;
  z-index: 1;
}
.primary-horizontal-logo-green- {
  text-decoration: none;
  width: 150px;
  position: relative;
  height: 30.5px;
  background-image: url(./public/primaryhorizontallogogold-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.hamburger-menu2-icon {
  height: 16.4px;
  width: 25.4px;
  position: relative;
}
.hamburger-menu2-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 45.4px;
  height: 36.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.about-us-main-logo-nav {
  width: calc(100% - 177px);
  margin: 0 !important;
  position: absolute;
  top: 46px;
  right: 83px;
  left: 94px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.about-main-nav,
.abouthero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.abouthero {
  align-self: stretch;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  flex-direction: column;
  position: relative;
  gap: 10px 0;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-16xl);
  font-family: var(--font-arsenal);
}
.about-main-nav {
  width: 45px;
  margin: 0 !important;
  position: absolute;
  top: 38px;
  left: 43px;
  height: 44px;
  flex-direction: row;
  z-index: 1;
}
.primary-horizontal-logo-gold-2 {
  text-decoration: none;
  width: 171.9px;
  position: relative;
  height: 35px;
  background-image: url(./public/primaryhorizontallogogold21@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.about-main-logo {
  width: 172px;
  margin: 0 !important;
  position: absolute;
  top: 42px;
  left: calc(50% - 86.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.headings1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
}
.headings-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.unlock-a-world {
  margin: 0;
}
.headings2 {
  height: 90px;
  flex: 1;
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
}
.frame-about-us-inner,
.frame-parent1,
.headings-container {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.headings-container {
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-11xl);
  font-family: var(--font-arsenal);
}
.frame-about-us-inner,
.frame-parent1 {
  flex-direction: column;
}
.frame-parent1 {
  align-items: flex-start;
  gap: 25px 0;
}
.frame-about-us-inner {
  align-items: center;
  padding: var(--padding-3xs) var(--padding-154xl) var(--padding-3xs) 0;
  box-sizing: border-box;
  min-width: 500px;
}
.premium-and-xl {
  line-height: 32px;
}
.premium-and-xl-access {
  margin: 0;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.blank-line10 {
  line-height: 30px;
}
.members-receive-priority {
  line-height: 20px;
}
.members-receive-priority-booki {
  margin: 0;
  font-size: var(--font-size-sm);
}
.blank-line11 {
  margin: 0;
  line-height: 30px;
}
.paragraph9 {
  position: absolute;
  top: 139px;
  left: 0;
  display: inline-block;
  width: 285px;
  height: 150px;
}
.access-icon {
  position: absolute;
  top: 0;
  left: 92px;
  width: 102px;
  height: 129px;
  object-fit: cover;
}
.goldsainte-premium-and-xl-acc {
  width: 285px;
  position: relative;
  height: 289px;
}
.paragraph10 {
  position: absolute;
  top: 140px;
  left: 0;
  display: inline-block;
  width: 285px;
  height: 150px;
}
.ridediscounts-icon {
  position: absolute;
  top: 0;
  left: 104.6px;
  width: 90.2px;
  height: 130px;
  object-fit: cover;
}
.ride-discounts {
  width: 285px;
  position: relative;
  height: 290px;
}
.paragraph11 {
  position: absolute;
  top: 138px;
  left: 0;
  display: inline-block;
  width: 285px;
  height: 150px;
}
.conciergescheduling-icon {
  position: absolute;
  top: 0;
  left: 86.5px;
  width: 112px;
  height: 128px;
  object-fit: cover;
}
.concierge-scheduling {
  width: 285px;
  position: relative;
  height: 288px;
}
.cancelanytime-icon,
.fullperksaccess-icon {
  position: absolute;
  top: 0;
  left: 91.5px;
  width: 101px;
  height: 130px;
  object-fit: cover;
}
.fullperksaccess-icon {
  left: 84px;
  width: 117px;
  height: 128px;
}
.goldsainte-premium-and-xl-acc-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px 13px;
  text-align: center;
  color: var(--color-gray-100);
}
.about-us-h1,
.frame-about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-about-us {
  width: 100%;
  gap: 20px 0;
  max-width: 1121px;
}
.about-us-h1 {
  align-self: stretch;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  padding: var(--padding-xl) var(--padding-165xl);
  z-index: 3;
  font-size: var(--font-size-5xl);
}
.big-number7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
}
.big-number-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  min-width: 450px;
}
.white-sportscar-marketpace-icon {
  width: 513px;
  position: relative;
  border-radius: var(--br-base);
  height: 226px;
  object-fit: cover;
}
.white-sportscar-marketpace-wrapper {
  width: 773px;
  height: 233px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
.blank-line36 {
  margin: 0;
  font-size: var(--font-size-5xl);
  color: var(--neutral-colors-white);
}
.big-number8 {
  width: 320px;
  position: relative;
  display: inline-block;
  height: 174px;
  flex-shrink: 0;
}
.big-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 40px 82px;
  min-width: 300px;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--color-tan);
  font-family: var(--font-athiti);
}
.frame-parent2 {
  align-self: stretch;
  gap: 47px 0;
}
.about-us-h2,
.about-us-h2-inner,
.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.about-us-h2-inner {
  width: 100%;
  max-width: 1121px;
}
.about-us-h2 {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-21xl) var(--padding-165xl);
  background-image: url(./public/about-us-h2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 4;
  font-size: var(--font-size-11xl);
  color: var(--neutral-colors-white);
  font-family: var(--font-arsenal);
}
.frame-child {
  width: 1491px;
  position: relative;
  background: linear-gradient(
    263.13deg,
    rgba(190, 169, 103, 0.4) 34.38%,
    rgba(255, 255, 255, 0)
  );
  height: 526px;
  display: none;
}
.feature-title2 {
  width: 100%;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  height: 19px;
  flex-shrink: 0;
  min-width: 300px;
  max-width: 700px;
}
.text2,
.text3 {
  align-self: stretch;
  position: relative;
}
.text2 {
  height: 30px;
  font-size: var(--font-size-11xl);
  line-height: 30px;
  text-transform: uppercase;
  font-family: var(--font-arsenal);
  display: inline-block;
}
.text3 {
  font-size: var(--font-size-sm);
  line-height: 20px;
}
.feature-title-container {
  flex: 1;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  gap: 29px 0;
  min-width: 300px;
}
.black-ride-share-icon {
  width: 420px;
  position: relative;
  border-radius: var(--br-base);
  height: 208px;
  object-fit: cover;
  min-width: 400px;
}
.rectangle-parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-17xl) 0;
  box-sizing: border-box;
  gap: 0 16px;
  max-width: 1121px;
}
.about-us-h3 {
  align-self: stretch;
  background: linear-gradient(89.45deg, #fff, #bcaa72);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-165xl);
  z-index: 5;
}
.heading4 {
  align-self: stretch;
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 300px;
}
.you-are-invited1 {
  color: var(--color-gray-100);
}
.span1 {
  color: var(--color-lightslategray);
}
.infogoldsaintecom3 {
  text-decoration: underline;
}
.infogoldsaintecom2 {
  color: inherit;
}
.paragraph14 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 14px;
  display: inline-block;
  min-width: 300px;
}
.heading-parent2 {
  width: 1121px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 23px 0;
}
.divider-icon1 {
  width: 1920px;
  position: relative;
  height: 1px;
  opacity: 0.35;
}
.divider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.social-media-icon-squareinsta1,
.social-media-icon-squarelinke1 {
  width: 36px;
  position: relative;
  height: 36px;
  cursor: pointer;
}
.social-media-icon-squarelinke1 {
  object-fit: cover;
}
.social-media-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 16px;
}
.goldsainte-gold-logo-about-us-icon {
  width: 46px;
  position: relative;
  height: 46px;
  object-fit: cover;
}
.email1 {
  width: 533.9px;
  position: relative;
  line-height: 14px;
  display: inline-block;
}
.frame-parent4,
.social-media-container-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media-container-parent {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0;
  gap: 20px 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.frame-parent4 {
  gap: 10px 0;
}
.aboutus-footer-inner,
.frame-parent4 {
  align-self: stretch;
  height: 189px;
  justify-content: flex-start;
}
.aboutus,
.aboutus-footer,
.aboutus-footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutus-footer {
  align-self: stretch;
  height: 236px;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 0 var(--padding-165xl);
  box-sizing: border-box;
  z-index: 6;
  text-align: center;
  color: var(--color-darkslategray-100);
}
.aboutus {
  width: 100%;
  position: relative;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-athiti);
}
@media screen and (max-width: 1200px) {
  .heading3 {
    font-size: var(--font-size-11xl);
    line-height: 30px;
  }
  .hamburger-menu2-icon {
    display: flex;
  }
  .about-us-h1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .big-number7 {
    font-size: var(--font-size-11xl);
    line-height: 30px;
  }
  .about-us-h2 {
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
  .text2 {
    font-size: var(--font-size-11xl);
  }
}
@media screen and (max-width: 960px) {
  .heading3 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .paragraph8 {
    font-size: var(--font-size-sm);
    line-height: 16px;
  }
  .headings2 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .about-us-h1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .big-number7 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .about-us-h2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .feature-title2 {
    font-size: var(--font-size-sm);
    line-height: 14px;
  }
  .text2 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .about-us-h3,
  .aboutus-footer {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .heading3 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .paragraph8 {
    font-size: var(--font-size-sm);
    line-height: 16px;
  }
  .frame-wrapper1 {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .headings2 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .about-us-h1,
  .about-us-h3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
.logomark-seal-green-1-icon {
  width: 79px;
  position: relative;
  height: 79px;
  object-fit: cover;
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
}
.sections-child1 {
  width: 469px;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 1px;
}
.menuhome,
.sections1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px 0;
}
.menuhome {
  position: relative;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  gap: 39px 0;
  opacity: 0;
  height: 100%;
  max-width: 90%;
  text-align: center;
  font-size: var(--body-default-size);
  color: var(--color-darkslategray-100);
  font-family: var(--font-athiti);
}
.menuhome.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 960px) {
  .sections1 {
    display: flex;
  }
}
