@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.conect-blackcar-hero-white-icon {
  width: 1494px;
  position: relative;
  height: 840px;
  object-fit: cover;
  z-index: 0;
}
.goldsainteconnecthero-child {
  width: 1038px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 386px);
  right: 0;
  background: linear-gradient(268.43deg, #fff, rgba(255, 255, 255, 0));
  height: 772px;
  display: none;
  z-index: 1;
}
.heading18,
.paragraph29 {
  align-self: stretch;
  position: relative;
}
.heading18 {
  height: 35px;
  line-height: 35px;
  text-transform: uppercase;
  display: inline-block;
}
.paragraph29 {
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-athiti);
}
.heading-parent12 {
  gap: 20px 0;
}
.frame-wrapper10,
.frame-wrapper11,
.heading-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper10 {
  z-index: 0;
}
.heading19,
.paragraph30 {
  position: relative;
  display: inline-block;
  min-width: 300px;
}
.heading19 {
  align-self: stretch;
  height: 35px;
  line-height: 35px;
  text-transform: uppercase;
}
.paragraph30 {
  width: 100%;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-athiti);
  max-width: 800px;
}
.heading-parent13 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 35px 0;
  min-width: 300px;
  max-width: 900px;
}
.frame-wrapper12 {
  width: calc(100% + 574px);
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 44.5px);
  right: -287px;
  left: -287px;
  display: none;
  z-index: 1;
}
.frame-parent18,
.frame-wrapper12,
.frame-wrapper14,
.frame-wrapper15 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper15 {
  width: 1121px;
  display: none;
}
.frame-parent18,
.frame-wrapper14 {
  margin: 0 !important;
  position: absolute;
  z-index: 2;
}
.frame-wrapper14 {
  width: calc(100% + 574px);
  top: calc(50% - 45px);
  right: -287px;
  left: -287px;
  height: 110px;
  display: none;
}
.frame-parent18 {
  width: calc(100% - 105px);
  top: calc(50% - 37.5px);
  right: 53px;
  left: 52px;
  display: flex;
  gap: 36px;
}
.primary-horizontal-logo-green-1 {
  text-decoration: none;
  width: 150px;
  position: relative;
  height: 30.5px;
  background-image: url(./public/primaryhorizontallogogold-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.hamburger-menu3324234-icon {
  height: 16.4px;
  width: 25.4px;
  position: relative;
}
.hamburger-menu3324234-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 45.4px;
  height: 36.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.connect-main-logo-nav {
  width: calc(100% - 177px);
  margin: 0 !important;
  position: absolute;
  top: 46px;
  right: 83px;
  left: 94px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.goldsainteconnecthero {
  align-self: stretch;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px 0;
  z-index: 0;
  font-size: var(--font-size-16xl);
}
.connect-main-nav {
  width: 45px;
  margin: 0 !important;
  position: absolute;
  top: 38px;
  left: 43px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.primary-horizontal-logo-gold-3 {
  text-decoration: none;
  width: 171.9px;
  position: relative;
  height: 35px;
  background-image: url(./public/primaryhorizontallogogold3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.connect-main-logo {
  width: 172px;
  margin: 0 !important;
  position: absolute;
  top: 42px;
  left: calc(50% - 86.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.frame-item {
  width: 1491px;
  position: relative;
  background: linear-gradient(
    263.13deg,
    rgba(190, 169, 103, 0.4) 34.38%,
    rgba(255, 255, 255, 0)
  );
  height: 526px;
  display: none;
}
.feature-title8 {
  width: 100%;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  height: 19px;
  flex-shrink: 0;
  min-width: 300px;
  max-width: 700px;
}
.text8,
.text9 {
  align-self: stretch;
  position: relative;
}
.text8 {
  height: 30px;
  font-size: var(--font-size-11xl);
  line-height: 30px;
  text-transform: uppercase;
  font-family: var(--font-arsenal);
  display: inline-block;
}
.text9 {
  font-size: var(--font-size-sm);
  line-height: 20px;
}
.feature-title-parent2 {
  flex: 1;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  gap: 30px 0;
  min-width: 300px;
}
.black-rideshare-carshare-icon {
  width: 420px;
  position: relative;
  border-radius: var(--br-base);
  height: 208px;
  object-fit: cover;
  min-width: 400px;
}
.rectangle-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-17xl) 0;
  box-sizing: border-box;
  gap: 0 16px;
  max-width: 1121px;
}
.goldsainte-connect-h1 {
  align-self: stretch;
  background: linear-gradient(89.45deg, #fff, #bcaa72);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-165xl);
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-athiti);
}
.black-car-pickup-men-outside-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  height: 450px;
  object-fit: cover;
  min-width: 400px;
}
.feature-title9 {
  width: 100%;
  height: 30px;
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 400px;
  max-width: 550px;
}
.text10 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-athiti);
}
.feature-title-parent3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  gap: 30px 0;
  min-width: 300px;
}
.rectangle-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 48px;
  max-width: 1121px;
}
.goldsainte-connect-h2 {
  align-self: stretch;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-165xl);
  z-index: 4;
  text-align: left;
}
.headings5 {
  width: 100%;
  height: 60px;
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 300px;
  max-width: 450px;
}
.headings-wrapper2 {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-31xl);
  box-sizing: border-box;
  min-width: 300px;
  color: var(--neutral-colors-white);
}
.headings6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 60px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 500px;
}
.frame-wrapper16,
.headings-wrapper3 {
  width: 1120px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.headings-wrapper3 {
  flex: 1;
  display: flex;
}
.frame-wrapper16 {
  height: 186px;
  display: none;
  padding: var(--padding-3xs) var(--padding-154xl) var(--padding-3xs) 0;
  box-sizing: border-box;
  min-width: 1100px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-chiffon);
}
.a-business-class-experience1 {
  line-height: 30px;
}
.a-business-class-experience {
  margin: 0;
  font-size: var(--font-size-mid);
}
.blank-line61 {
  margin: 0;
  color: var(--color-black);
}
.featuring-premium-vehicles {
  line-height: 20px;
}
.featuring-premium-vehicles-wit {
  margin: 0;
  font-size: var(--font-size-sm);
  color: var(--neutral-colors-white);
}
.blank-line63 {
  margin: 0;
  color: var(--color-gray-100);
}
.paragraph32 {
  position: absolute;
  top: 113px;
  left: calc(50% - 175px);
  display: inline-block;
  width: 350px;
  height: 141px;
}
.business-class-experience-icon {
  position: absolute;
  top: calc(50% - 127px);
  left: calc(50% - 52px);
  width: 105px;
  height: 112.6px;
  object-fit: cover;
}
.paragraph-parent {
  width: 350px;
  position: relative;
  height: 254px;
  color: var(--color-tan);
}
.goldsainte-premium-and1 {
  line-height: 32px;
}
.goldsainte-premium-and {
  margin: 0;
}
.paragraph33 {
  position: absolute;
  top: 159.5px;
  left: 0;
  display: inline-block;
  width: 285px;
  height: 150px;
}
.access-icon1 {
  position: absolute;
  top: 0;
  left: 98.4px;
  width: 88.8px;
  height: 129px;
  object-fit: cover;
}
.goldsainte-premium-and-xl-acc1 {
  width: 285px;
  position: relative;
  height: 309.5px;
  display: none;
  font-family: var(--font-covik-sans);
}
.premium-concierge-support {
  margin: 0;
  font-size: var(--font-size-mid);
  color: var(--color-tan);
}
.paragraph34 {
  position: absolute;
  top: 113px;
  left: calc(50% - 175px);
  display: inline-block;
  width: 350px;
  height: 196px;
}
.premium-concierge-support-icon {
  position: absolute;
  top: calc(50% - 154.5px);
  left: calc(50% - 53.5px);
  width: 106px;
  height: 99.4px;
  object-fit: cover;
}
.paragraph-group {
  width: 350px;
  position: relative;
  height: 309px;
}
.paragraph35 {
  position: absolute;
  top: 115.1px;
  left: calc(50% - 175px);
  display: inline-block;
  width: 350px;
  height: 185px;
}
.goldsainte-professional-driver-icon {
  position: absolute;
  top: calc(50% - 150.05px);
  left: calc(50% - 40px);
  width: 79.1px;
  height: 115px;
  object-fit: cover;
}
.paragraph-container {
  width: 350px;
  position: relative;
  height: 300.1px;
}
.paragraph36 {
  position: absolute;
  top: 115px;
  left: calc(50% - 175px);
  display: inline-block;
  width: 350px;
  height: 185px;
}
.custom-design-around-you-icon {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 51.5px);
  width: 104px;
  height: 115px;
  object-fit: cover;
}
.paragraph-parent1 {
  width: 350px;
  position: relative;
  height: 300px;
  color: var(--color-gray-100);
}
.group-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 30px 51px;
  text-align: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-athiti);
}
.frame-parent19,
.goldsainte-connect-h3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent19 {
  width: 100%;
  align-items: flex-start;
  max-width: 1121px;
}
.goldsainte-connect-h3 {
  align-self: stretch;
  background: linear-gradient(123.74deg, #022926, #0c4d47 93.43%);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-21xl) var(--padding-165xl);
  z-index: 5;
  text-align: left;
}
.headings7 {
  width: 100%;
  height: 1px;
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  flex-shrink: 0;
  min-width: 300px;
  max-width: 650px;
}
.headings-wrapper4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 54px;
  box-sizing: border-box;
  max-width: 1121px;
}
.feature-title10,
.title10 {
  width: 137px;
  height: 30px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.title10 {
  width: 348px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-align: left;
  height: 337px;
  flex-shrink: 0;
}
.feature-title-parent4 {
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 39px 0;
}
.man-phone-hand-close-up-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  height: 391px;
  object-fit: cover;
  min-width: 400px;
}
.frame-parent20 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 48px;
  max-width: 1121px;
  text-align: center;
  font-family: var(--font-athiti);
}
.goldsainte-connect-h4 {
  align-self: stretch;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-165xl);
  gap: 20px 0;
  z-index: 6;
  text-align: left;
}
.feature-title11,
.title11 {
  width: 114px;
  height: 30px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.title11 {
  width: 348px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-align: left;
  height: 60px;
  flex-shrink: 0;
}
.feature-title-parent5 {
  height: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 39px 0;
}
.frame-parent21 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-29xl);
  max-width: 1121px;
}
.goldsainte-connect-h5 {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-165xl);
  z-index: 7;
  font-family: var(--font-athiti);
}
.feature-title12 {
  width: 74px;
  height: 28px;
  position: relative;
  line-height: 30px;
  display: inline-block;
  flex-shrink: 0;
}
.feature-title-parent6,
.goldsainte-connect-h6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.feature-title-parent6 {
  height: 122px;
  gap: 39px 0;
}
.goldsainte-connect-h6 {
  align-self: stretch;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  padding: var(--padding-11xl) var(--padding-165xl);
  z-index: 8;
  font-family: var(--font-athiti);
}
.heading21 {
  align-self: stretch;
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 300px;
}
.you-are-invited2 {
  color: var(--color-gray-100);
}
.span4 {
  color: var(--color-lightslategray);
}
.infogoldsaintecom5 {
  text-decoration: underline;
}
.infogoldsaintecom4 {
  color: inherit;
}
.paragraph37 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 14px;
  display: inline-block;
  min-width: 300px;
}
.heading-parent15 {
  width: 1121px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 23px 0;
}
.divider-icon4 {
  width: 1920px;
  position: relative;
  height: 1px;
  opacity: 0.35;
}
.divider-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.social-media-icon-squareinsta4,
.social-media-icon-squarelinke4 {
  width: 36px;
  position: relative;
  height: 36px;
  cursor: pointer;
}
.social-media-icon-squareinsta4 {
  object-fit: cover;
}
.social-media-container33223 {
  position: absolute;
  top: 0;
  left: calc(50% - 44px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 16px;
}
.social-media-container33223-wrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 44px);
  width: 88px;
  height: 36px;
}
.contact-info10233 {
  width: 88px;
  position: relative;
  height: 36px;
}
.goldsainte-gold-logo-connect-icon {
  width: 46px;
  position: relative;
  height: 46px;
  object-fit: cover;
}
.email4 {
  width: 533.9px;
  position: relative;
  line-height: 14px;
  display: inline-block;
}
.contact-info10233-parent,
.frame-parent23 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contact-info10233-parent {
  padding: var(--padding-2xs) 0;
  gap: 20px 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.frame-parent23 {
  height: 169px;
  gap: 10px 0;
}
.goldsainte-connect-footer-inner {
  width: 1121px;
  height: 169px;
  justify-content: flex-start;
}
.connect1,
.goldsainte-connect-footer,
.goldsainte-connect-footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goldsainte-connect-footer {
  align-self: stretch;
  height: 236px;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 0 var(--padding-165xl);
  box-sizing: border-box;
  z-index: 9;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-athiti);
}
.connect1 {
  width: 100%;
  position: relative;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-arsenal);
}
@media screen and (max-width: 1200px) {
  .heading18 {
    font-size: var(--font-size-16xl);
    line-height: 35px;
  }
  .heading19 {
    font-size: var(--font-size-11xl);
    line-height: 30px;
  }
  .hamburger-menu3324234-icon {
    display: flex;
  }
  .feature-title9,
  .headings5,
  .text8 {
    font-size: var(--font-size-11xl);
    line-height: 30px;
  }
  .feature-title12,
  .headings7 {
    font-size: var(--font-size-11xl);
  }
  .feature-title12 {
    line-height: 30px;
  }
}
@media screen and (max-width: 960px) {
  .heading18 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .paragraph29 {
    font-size: var(--font-size-sm);
    line-height: 16px;
  }
  .heading19 {
    font-size: var(--font-size-6xl);
    line-height: 25px;
  }
  .feature-title8,
  .paragraph30 {
    font-size: var(--font-size-sm);
    line-height: 16px;
  }
  .feature-title8 {
    line-height: 14px;
  }
  .text8 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .goldsainte-connect-h1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .feature-title9 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .goldsainte-connect-h2 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .headings5 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .goldsainte-connect-h3 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .feature-title10,
  .headings7 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .goldsainte-connect-h4 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .feature-title11 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .goldsainte-connect-h5 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .feature-title12 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .goldsainte-connect-footer,
  .goldsainte-connect-h6 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .heading18 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .paragraph29 {
    font-size: var(--font-size-sm);
    line-height: 16px;
  }
  .frame-wrapper11 {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .heading19 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .paragraph30 {
    font-size: var(--font-size-sm);
    line-height: 16px;
  }
  .frame-wrapper15 {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .text8 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .goldsainte-connect-h1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .feature-title9 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .goldsainte-connect-h2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .headings5 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .goldsainte-connect-h3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .headings7 {
    font-size: var(--font-size-xl);
    line-height: 20px;
  }
  .goldsainte-connect-h4,
  .goldsainte-connect-h5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .feature-title12 {
    line-height: 20px;
  }
  .goldsainte-connect-h6 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
.logomark-seal-green-1-icon {
  width: 79px;
  position: relative;
  height: 79px;
  object-fit: cover;
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
}
.sections-child1 {
  width: 469px;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 1px;
}
.menuhome,
.sections1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px 0;
}
.menuhome {
  position: relative;
  background-color: var(--neutral-colors-white);
  overflow: hidden;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  gap: 39px 0;
  opacity: 0;
  height: 100%;
  max-width: 90%;
  text-align: center;
  font-size: var(--body-default-size);
  color: var(--color-darkslategray-100);
  font-family: var(--font-athiti);
}
.menuhome.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 960px) {
  .sections1 {
    display: flex;
  }
}
