body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-athiti: Athiti;
  --font-arsenal: Arsenal;
  --font-covik-sans: "Covik Sans";
  --font-chiffon: Chiffon;
  --body-default: "DM Sans";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-3xl: 22px;
  --font-size-16xl: 35px;
  --font-size-5xl: 24px;
  --font-size-4xl: 23px;
  --font-size-6xl: 25px;
  --font-size-25xl: 44px;
  --body-default-size: 18px;
  --font-size-base: 16px;
  --font-size-mid: 17px;
  --font-size-29xl: 48px;
  --font-size-31xl: 50px;

  /* Colors */
  --neutral-colors-white: #fff;
  --color-gray-100: #8c8c8c;
  --color-gray-200: rgba(0, 0, 0, 0.1);
  --color-gray-300: rgba(255, 255, 255, 0.64);
  --color-darkslategray-100: #0c4d47;
  --color-darkslategray-200: #022926;
  --color-lightslategray: #9795b5;
  --color-black: #000;
  --color-whitesmoke: #f8f8f8;
  --color-tan: #bcaa72;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-0: 0px;
  --gap-4xl: 23px;
  --gap-24xl: 43px;
  --gap-13xl: 32px;
  --gap-11xl: 30px;
  --gap-20xl: 39px;
  --gap-10xl: 29px;
  --gap-11xs: 2px;
  --gap-16xl: 35px;
  --gap-3xl: 22px;
  --gap-21xl: 40px;
  --gap-15xl: 34px;
  --gap-2xl: 21px;
  --gap-lgi: 19px;
  --gap-29xl: 48px;

  /* Paddings */
  --padding-165xl: 184px;
  --padding-21xl: 40px;
  --padding-2xs: 11px;
  --padding-3xs: 10px;
  --padding-xl: 20px;
  --padding-51xl: 70px;
  --padding-mini: 15px;
  --padding-lgi: 19px;
  --padding-17xl: 36px;
  --padding-61xl: 80px;
  --padding-154xl: 173px;
  --padding-81xl: 100px;
  --padding-31xl: 50px;
  --padding-11xl: 30px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-base: 16px;
  --br-mini: 15px;
  --br-6xl: 25px;
}
